
body, html {
	margin: 0px;
	height: 100%;
	cursor: url(../pictures/Cursor1.cur),auto;
}

@font-face {
	font-family: Font;
	src: url(../fonts/sdf.ttf) format('truetype');
}

@font-face {
	font-family: Font1;
	src: url(../fonts/name1.ttf) format('truetype');
}

@font-face {
	font-family: Font2;
	src: url(../fonts/name.ttf) format('truetype');
}

@font-face {
	font-family: Font5;
	src: url(../fonts/name5.ttf) format('truetype');
}

@font-face {
	font-family: Font01;
	src: url(../fonts/name01.ttf) format('truetype');
}

p, h4, h5, h6 {
	font-family: Courier;
	padding: 5px;
	font-size: 1em;
}

h1, h2, h3	 {
	font-family: Font01;
	text-decoration: underline;
	display: inline;
	padding: 10px;
}

a {
	text-decoration: none;
	transition: 0.24s;
	cursor: url(../pictures/Cursor1.cur),auto;
}

a:hover {
	color: rgb(204, 123, 234);
}

a:active {
	color: rgb(4, 204, 234);
}

#nav {
	padding: 20px;
	padding-left: 0px;
	padding-right: 0px;
	height: 17px;
	background-color: rgb(231, 231, 231);
	position: fixed;
	width: 100%;
	z-index: 1020;
	border-bottom-right-radius: 70%;
	border-bottom-left-radius: 20%;
	transition: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav:hover {
	padding: 20px;
	height: 17px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: rgb(231, 231, 231);
	position: fixed;
	width: 100%;
	z-index: 1020;
	border-bottom: 5px solid rgb(134, 234, 234);
	border-bottom-right-radius: 70%;
	border-bottom-left-radius: 20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav a {
	text-decoration: none;
	padding: 10px;
	background-color: rgb(241, 241, 241);
	border: 3px solid rgb(234, 234, 234);
	border-radius: 40px;
	border-bottom-right-radius: 130px;
	border-top-left-radius: 130px;
	margin-left: 10px;
	color: rgb(134, 134, 134);
	transition: 0.4s;
	top: 20px;
	font-family: Font;
}

#nav a:hover {
	text-decoration: none;
	padding: 10px;
	background-color: rgb(254, 254, 254);
	border: 3px solid rgb(34, 234, 234);
	border-radius: 40px;
	border-bottom-right-radius: 130px;
	border-top-left-radius: 130px;
	color: rgb(172, 172, 172);
	margin-left: 10px;
	transition: 0.4s;
	top: 20px;
	font-family: Font;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav a:active {
	text-decoration: none;
	padding: 10px;
	background-color: rgb(254, 254, 254);
	border: 3px solid rgb(204, 100, 234);
	border-radius: 40px;
	border-bottom-right-radius: 130px;
	border-top-left-radius: 130px;
	margin-left: 10px;
	transition: 0.4s;
	color: rgb(72, 72, 72);
	top: 20px;
	font-family: Font;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.crd {
	width: 100%;
	background-color: rgb(254, 254, 254);
	border-top: 10px solid rgb(205, 205, 205);
	height: 510px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 10px;
	padding-bottom: 10px;
}

#githb {
	height: 80%;
	width: 90%;
	display: inline-block;
    vertical-align: middle;
    border: 6px solid black;
    border-radius: 40px;
}

.tle {
	font-size: 70px;
	background-color: rgb(234, 234, 234);
	padding: 10px 40px 10px 40px;
	margin-top: 140px;
	margin-bottom: 20px;
	color: black;
	border: 3px solid rgb(234, 234, 234);
	border-radius: 20px;
	border-bottom-right-radius: 130px;
	border-top-left-radius: 130px;
	display: inline-block;
	transition: 0.4s;
    vertical-align: middle;
	font-family: Font1;
}

.tle:hover {
	font-size: 70px;
	background-color: rgb(234, 234, 234);
	padding: 10px 74px 10px 74px;
	margin-top: 140px;
	border: 3px solid rgb(34, 234, 234);
	border-radius: 20px;
	border-bottom-right-radius: 170px;
	border-top-left-radius: 170px;
	display: inline-block;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
	font-family: Font1;
}

.tle:active {
	font-size: 70px;
	background-color: rgb(234, 234, 234);
	padding: 10px 40px 10px 40px;
	margin-top: 140px;
	border: 3px solid rgb(204, 100, 234);
	border-radius: 20px;
	border-bottom-right-radius: 130px;
	border-top-left-radius: 130px;
	transition: 0.4s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
    vertical-align: middle;
	font-family: Font1;
}

.tag {
	background-color: rgb(234, 234, 234);
	padding: 1px;
	display: inline-block;
	font-size: 17px;
    width: 150px;
    margin: 0px;
    transition: 0.4s;
	border-radius: 10px;
	font-family: Font1;
	cursor: url(../pictures/Cursor1.cur),auto;
}

.tag:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tag:active {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.tag a {
	text-decoration: none;
}

.sign {
	font-family: Font2;
	margin-top: 90px;
	margin-left: 179px;
	margin-right: 17px;
	background-color: rgb(234, 234, 234);
	font-size: 40px;
	display: inline-block;
	width: 200px;
	float: right;
	border: 10px solid black;
	border-radius: 20px;
	transition: 0.4s;
	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg); /* Standard syntax */
}

.sign:hover {
	width: 240px;
}

#hire {
	font-size: 40px; 
	width: 450px;
}

@media only screen and (max-width: 471px) {
    .tle {
    	font-size: 25px;
   	}

   	.tle:hover {
    	font-size: 25px;
   	}

	.tle:active {
    	font-size: 25px;
   	}

   	#nav a {
   		font-size: 10px;
   	}

   	#hire {
   		font-size: 20px;
   		width: 100px;
   	}

   	#wd2 {
   		display: ;
   	}

   	#wd1 {
   		display: none;
   	}

   	.sign {
   		font-size: 30px;
   		border: 7px solid black;
   		width: 130px;
   	}

   	.sign:hover {
   		width: 150px;
   	}



}

@media only screen and (max-width: 500px) {
	#ed {
		height: 199%;
	}
}

@media only screen and (max-width: 700px) {
	#ed {
		height: 141%;
	}
}

   	
@media only screen and (min-width: 700px) {
	#ed {
		height: 124%;
	}
}

@media only screen and (min-width: 1000px) {
	#ed {
		height: 95%;
	}
}

   	

.pza1 {
	width: 100px;
	height: 200px;
	border-radius: 20px;
	position: absolute;
	background-color: rgb(234, 234, 234);
	border-bottom-right-radius: 70px;
	border-top-left-radius: 70px;
	background-image: url(../pictures/Io_Crop_21_4.svg);
	background-size: 110% 110%;
	border: 7px solid rgb(234, 234, 234);
	box-shadow: 0 21px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pza {
	height: 90%;
	width: 100%;
	background-image: url(../pictures/Bg_4.png);
	background-size: 100% 100%;  
}

@media only screen and (max-width: 380px) {
   	#nav {
   		height: 25px;
   	}
   	#ed {
		height: 179%;
	}
	#pza {
		height: 90%;
	}

}

@media only screen and (max-width: 900px) {
	#pza02 {
		display: none;
	}
	#pza {
		height: 124%;
	}

}

@media only screen and (max-width: 1080px) {
   	#pza01 {
   		display: none;
   	}

   	#pza03 {
   		display: none;
   	}


}

.fter {
	height: 20px;
	padding-right: 0px;
	padding-left: 0px;
}

.parallax { 
    /* The image used */
    background-image: url(../pictures/Staton_1.jpg);

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
    margin: 0px;
}

.parallax:hover { 
    background-image: url(../pictures/Staton_5.jpg);
}

.parallax1 { 
    /* The image used */
    background-image: url(../pictures/Staton_7.jpg);

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
    margin: 0px;
}

.parallax1:hover { 
    background-image: url(../pictures/Staton1_11.jpg);
}
.btn {
	text-decoration: none;
	padding: 17px;
	background-color: rgb(241, 241, 241);
	border: 5px solid rgb(234, 234, 234);
	border-radius: 40px;
	border-bottom-right-radius: 130px;
	border-top-left-radius: 130px;
	margin-left: 10px;
	display: inline-block;
    vertical-align: middle;
	color: rgb(134, 134, 134);
	transition: 0.4s;
	top: 20px;
	font-family: Font;
	font-size: 40px;
}

.btn:hover {
	text-decoration: none;
	padding: 17px;
	background-color: rgb(254, 254, 254);
	border: 5px solid rgb(234, 134, 134);
	border-radius: 40px;
	border-bottom-right-radius: 130px;
	border-top-left-radius: 130px;
	color: rgb(172, 172, 172);
	margin-left: 10px;
	transition: 0.4s;
	top: 20px;
	font-family: Font;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
	text-decoration: none;
	padding: 17px;
	background-color: rgb(254, 254, 254);
	border: 5px solid rgb(204, 100, 234);
	border-radius: 40px;
	border-bottom-right-radius: 130px;
	border-top-left-radius: 130px;
	margin-left: 10px;
	transition: 0.4s;
	color: rgb(72, 72, 72);
	top: 20px;
	font-family: Font;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

