.search_nav
{
	position: fixed;
	height: 29px;
	right: 0px;
	top: 0px;
	left: 0px;
	padding: 10px;
	background-color: rgb( 234, 234, 234 );
	border-radius: 0px 0px 5px 5px;
	border: 1px solid rgb( 123, 123, 123 );
}




.search_nav form [ type = "text" ] 
{
	width: 90%;
	height: 15px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid rgb( 123, 123, 123 );
	outline: none;
}
.search_nav form [ type = "submit" ]
{
	border: 1px solid rgb( 123, 123, 123 );
	height: 25px;
	border-radius: 5px;
	width: 5%;
	outline: none;
	display: none;
}

.search_nav form [ type = "button" ]
{
	height: 25px;
	width: 25px;
	border-radius: 10px;
	outline: none;
}



@media screen and ( max-width: 1100px )
{
	.search_nav form [ type = "text" ] 
	{
		max-width: 79%;
	}
}

@media screen and ( max-width: 570px )
{
	.search_nav form [ type = "text" ] 
	{
		max-width: 70%;
	}
}