<title> Delete User </title>
	

<style> 

	input { font-size: 21px; padding: 5px 10px; }

</style>

</head>	<body>


	<h2> Delete User: "<script> ech( data.firstname + ' ' + data.lastname ); </script>" </h2>

	<form>

		<script> ech( '<input type="hidden" name="id" value="' + data.id + '" ></input>' ); </script>

		<input type="submit" value="Delete" ></input>

	</form>




	<script> ech( "<p> <a href=\"/index.js?path=user_controller/view/" + data.id + "\"> Return to " + data.firstname + ' ' + data.lastname + "</a> </p>" ); </script>


	<p> <a href="/index.js?path=user_controller/index"> Return to Users </a> </p>

	</body>

</html>
