

p { font-size: 15px; }

[ style_2 ]
{
	outline: none;
	border: 4px solid rgb( 123, 123, 123 );
	border-radius: 10px;
	padding: 5px 10px;
}









.row { display: table; width: 100%; background-color: rgb( 234, 234, 234 ); }

.column 
{
	width: 10%;
	background-color: rgb( 243, 243, 243 );

	padding: 1%;
	text-align: center;
	padding-top: 21px;
	padding-bottom: 21px;
	display: table-cell;
}

.row:after 
{
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 900px) 
{
	.column 
	{
		width: 48%;
		display: inline-block;
		height: 105px;
	}

	.row { columns: 2; }
}

@media screen and (max-width: 600px) 
{
	.column 
	{
		width: 100%;
		height: 90px;
	}
}


.notification {
  background-color: rgb( 90, 90, 90 );
  color: rgb( 253, 253, 253 ) !important;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: rgb( 123, 123, 123 );
  color: rgb( 243, 243, 243 );
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: rgb( 90, 90, 253 );	
  color: white;
}

.notification:hover .badge
{
  background: rgb( 123, 123, 234 );
}





.collapsible 
{
	background-color: rgb( 234, 234, 234 );
	color: rgb( 90, 90, 90 );
	cursor: pointer;
	padding: 21px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}


.clicked, .collapsible:hover 
{
	background-color: #ccc;
}

.clicked { border-radius: 2px 2px 0px 0px; }

.content 
{
	padding: 5px 21px;
	overflow: hidden;
	background-color: #f1f1f1;
	border-radius: 0px 0px 2px 2px;
}



#NAV{}




nav 
{
	all: default !important;

	position: fixed;
	font-family: Arial;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb( 243, 243, 243 );
	padding: 10px;
	z-index: 4900;
	overflow-x: auto;
}

nav a
{
	all: default !important;

	font-size: 21px;
	text-decoration: none;
	color: rgb( 123, 123, 123 ) !important;
	margin-left: 10px;
}

nav a:hover { color: rgb( 90, 90, 90 ) !important; }

@media screen and (max-width: 900px) 
{
	nav { top: -49px; }
	nav::after 
	{
		position: fixed;
		content: "";
	 	top: 5px;
	 	right: 10px;
		width: 0;
		height: 0;
		border: 15px solid transparent;
		border-top-color: rgb( 150, 150, 150 );
		z-index: 5000;
 	}
	nav:hover 
	{
		top: 0px;
		border: 2px solid rgb( 123, 123, 123 );
		position: fixed;
		left: 0px;
		right: 0px;
		padding: 5px 5px 10px 5px !important;
		background-color: rgb( 250, 250, 250 );
		transition: top 0.3s;
		border-radius: 0px 0px 5px 5px;
	}
	nav:hover a { display: block; line-height: 29px; padding: 2px 21px; }
	nav:hover::after { border-width: 6px; }

	nav a:hover { background-color: rgb( 234, 234, 234 ); }

}