html 
{
	padding: 10px;

	padding-left: 15%;

	font-family: Arial;

	color: rgb( 90, 90, 90 );
	background-color: rgb( 250, 250, 250 );

	margin: 0px;

	scroll-behavior: smooth;
}


.center 
{
	text-align: center;
}

.submit
{
	border-width: 5px !important;
	font-size: 17px;
	font-weight: bold;
}

.user_options
{
	border: 3px solid rgb( 204, 204, 204 );
	background-color: rgb( 234, 234, 234 );
	text-align: center;
	width: 70%;
	min-width: 45%;
	border-radius: 15px;
	padding: 10px;
}

.user_details
{
	border: 3px solid rgb( 204, 204, 204 );
	padding: 10px;
	border-radius: 10px;
	width: 70%;
	min-width: 400px;
	background-color: rgb( 243, 243, 243 );
	margin: 0px 0px 20px 0px;
}

.user_details p
{
	margin: 5px;
}

.user_details span
{
	margin-left: 5px;
}

.auxiliary_data
{
	font-size: 15px; 
	border-radius: 10px;
	background-color: rgb( 205, 205, 205 );
	padding: 5px;
}

.auxiliary_data p
{
	margin: 0px !important;
}

.admin_company_edit
{
	border: 3px solid rgb( 234, 234, 234 );
	padding: 10px;
	border-radius: 10px;
	background-color: rgb( 250, 250, 250 );	
}

.company
{
	position: fixed;
	border: 2px solid rgb( 240, 240, 240 );
	top: 2px;
	z-index: 1400;
	font-family: Arial;
	left: 0px;
	color: rgb( 123, 123, 123 );
	font-size: 16.5px;
	padding: 4px 14px;
	border-radius: 0px 7px 7px 0px;
	text-overflow: ellipsis;
	border-right: 3px solid rgb( 204, 204, 204 );
	background-color: rgb( 243, 243, 243 );
	border-width: 0px 3px 2px 0px;
}

.signed_in_user
{
	right: 10px !important;
	position: absolute;
	top: 40px;
	font-size: 17px;
}


p, h3, h4, h5, h6
{
	margin: 20px 0px;
}

h1, h2
{
	margin: 0px 0px 10px 0px;
}

a 
{
	padding: 1px;
	font-weight: bold;
	color: rgb( 123, 123, 123 );
	transition: 0.3s;
}

a:hover
{
	padding: 1px;
	font-weight: bold;
	color: rgb( 90, 90, 90 );
}

textarea
{
	border: 5px solid rgb( 234, 234, 234 );
	outline: none;
	border-radius: 10px;
	padding: 5px;
	max-width: 500px;
	max-height: 600px;
	min-width: 340px;
	min-height: 20px;
	transition: 0.1s;
}

textarea:hover
{
	border: 5px solid rgb( 204, 204, 204 );	
}




nav 
{
	position: fixed;
	z-index: 1400;
	background-color: rgb( 255, 255, 255 );

	border-bottom: 1px solid rgba( 123, 123, 123, 0.7 );
	border-radius: 0px 0px 3px 3px;

	top: 0;
	left: 0;

	padding: 5px;
	width: 100%;

	display: flex;
}

nav a 
{
	text-decoration: none;
	font-size: 20px;
	font-weight: 500 !important;
	transition: 0.3s;
	border-radius: 4px;
	padding: 0px 4px;
	margin-left: 5px;
}

nav a:hover
{
	color: rgb( 150, 150, 150 );
	padding: 0px 4px;
}

nav form
{
	position: absolute;
	line-height: 21px;
	right: 150px !important;
}

nav input 
{
	height: 24px;
	vertical-align: middle;
	line-height: 10px;
	margin: 0px;
	left: 0px !important;
}


input
{
	padding: 5px 10px;
	border: 3px solid rgb( 201, 200, 200 );
	border-radius: 10px;
	outline: none;
	color: rgb( 90, 90, 90 );
	margin: 3px 0px;
	background-color: rgb( 240, 240, 240 );
	transition: 0.5s;
}

input:hover
{
	border: 3px solid rgb( 150, 150, 150 );
	color: rgb( 100, 100, 100 );
	border-radius: 10px;
	outline: none;
}




select
{
	padding: 5px 10px;
	border: 3px solid rgb( 201, 200, 200 );
	border-radius: 10px;
	outline: none;	
	color: rgb( 90, 90, 90 );
	margin: 3px 0px;
	background-color: rgb( 240, 240, 240 );
	transition: 0.5s;
}

select:hover
{
	border: 3px solid rgb( 150, 150, 150 );
	color: rgb( 100, 100, 100 );
	border-radius: 10px;
	outline: none;
}

option
{
	background-color: rgb( 204, 204, 204 );
	color: rgb( 90, 90, 90 );
}







#FOR_TABLES{}






.table_p
{
	padding: 7px; 
	margin: 0px 2.5% 0px 2.5%; 
	background-color: rgb( 234, 234, 234 ); 
	border-radius: 10px;
}

.table_p a
{
	display: inline-block;
}

.table_center 
{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.table_options
{
	background-color: rgb( 230, 230, 230 );
	text-align: center;
	max-width: 200px;
}

#contract_table_options
{
	min-width: 140px;
}

#user_td_options
{
	max-width: 150px;		
}

.order
{
	border: 3px solid rgb( 234, 234, 234 );
	background-color: rgb( 243, 243, 243 );
	color: rgb( 123, 123, 123 );
	margin: 0px 2.5% 0px 2.5%;
	
	padding: 1px 10px;
	border-radius: 10px; 
}

.order a 
{
	display: inline-block;

	border: 1px solid rgb( 123, 123, 123 );
	background-color: rgb( 243, 243, 243 );
	text-decoration: none;
	border-radius: 10px;
	padding: 1px 5px;
	margin: 2px 0px;
}

.th
{
	font-weight: bold;
	text-align: center;
	background-color: rgb( 230, 230, 230 );
}

.th:hover
{
	background-color: rgb( 230, 230, 230 ) !important;	
}

.href
{
	font-weight: 100 !important;
}

.href:hover { font-weight: 100 !important; }

.href a
{
	font-weight: 100 !important;
	text-decoration: underline;
}

.th:hover { background-color: rgb( 230, 230, 230 ); }

table, td
{ border-radius: 1px; }

table
{
	border-radius: 5px;
	padding: 2px;
	background-color: rgb( 150, 150, 150 );
	min-width: 95%;
	max-width: 100%;
	margin-top: 5px;
}

td { padding: 5px; }

td a { text-decoration: none; }

tr { background-color: rgb( 250, 250, 250 ); transition: 0.3s; }

tr:hover { background-color: rgb( 204, 204, 204 ) !important; }

form { margin: 0px; }






#FOR_DELETING{}




.delete_div
{
	border: 3px solid rgb( 234, 234, 234 ); 
	margin: 0px 10%; 
	padding: 10px 0px 20px 0px; 
	border-radius: 10px; 
	background-color: rgb( 243, 243, 243 );
}

.div_center 
{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.delete_border
{
	border: 3px solid rgb( 123, 123, 123 );
	border-radius: 10px;
	text-align: left;
	width: 300px;
	padding: 5px;
}

.delete_border span
{
	font-size: 14px;
}

#delete_contract div
{
	margin: 10px 0px 20px 0px;
	padding: 10px;
	background-color: rgb( 204, 204, 204 );
	border-radius: 10px;
}

#delete_contract div h2
{
	background-color: rgb( 234, 234, 234 ); 
	padding: 10px; 
	border-radius: 10px;
}
#delete_contract div h3
{
	margin: 0px 0px 10px 0px;
}
#delete_contract div h4
{
	margin: 0px;
}


.contract_obsolete
{
	text-align: center;
	font-size: 10px;
	position: absolute;
	line-height: 10px;
	color: rgb( 123, 123, 123 );
	z-index: 1020;
	padding-left: inherit;
}

.contract_completion
{
	display: inline-block;
	font-size: 14px;
}

.delete
{
	padding: 5px 10px !important;
	border: 3px solid rgb( 201, 200, 200 );
	border-radius: 10px;
	outline: none;
	color: rgb( 90, 90, 90 );
	margin: 3px 0px;
	background-color: rgb( 240, 240, 240 );
	transition: 0.5s;
	text-decoration: none;
}

.delete:hover
{
	border: 3px solid rgb( 150, 150, 150 );
	color: rgb( 100, 100, 100 );
	border-radius: 10px;
	outline: none;
}







#FOR_NAV{}







#nav_sign_out
{
	right: 20px;
	position: absolute;
	font-weight: 500;
	font-size: 17px;
	line-height: 23px;
	padding-left: 10px;
}





#left_nav
{
	height: 100%;
	width: 14%;
	max-width: 210px;
	position: fixed;
	background-color: rgb( 234, 234, 234 );
	top: 0;
	left: 0;
	transition: 0.1s;

	font-weight: 100 !important;

	border-right: 3px solid rgb( 204, 204, 204 );
}

#left_nav:hover
{
	height: 100%;
	position: fixed;
	background-color: rgb( 234, 234, 234 );
	top: 0;
	left: 0;
}

.left_nav_border_href
{
	color: rgb( 140, 140, 140 );

	text-decoration: none;
	padding: 14px;
	padding-left: 40px;
	margin: 0px;
}

.left_nav_border_href a:hover
{
	color: rgb( 123, 123, 123 );
}


.left_nav_border_href p
{
	font-weight: 700 !important;
	font-size: 20px;
	line-height: 14px;

	text-decoration: none;
	padding: 14px;
	background-color: rgb( 204, 204, 204 );
	margin-top: -38px;
	margin-right: -3px;
	border-right: 3px solid rgb( 150, 150, 150 );
	border-bottom: 1px solid rgb( 150, 150, 150 );
	border-radius: 0px 3px 10px 0px;
	transition: 0.3s;


	border-width: 1px 5px 3px 10px;
	border-color: rgb( 204, 204, 204 );
	background-color: rgb( 243, 243, 243 ) !important; 
	margin: -15px 0px 0px 0px;
}

.left_nav_border_href p:hover
{
	padding: 14px;
	color: rgb( 123, 123, 123 );
	background-color: rgb( 150, 150, 150 );
	border-color: rgb( 123, 123, 123 );
}



#left_nav_sign_out 
{
	text-decoration: underline;
	text-align: center;
	bottom: 0;
}



.left_nav_href
{
	font-weight: 100;

	text-decoration: none;
	margin: 0px;
	transition: 0.3s;
}

.left_nav_href:hover
{
	font-weight: 100;	
}

.left_nav_href p
{
	margin: 0px;
	background-color: rgb( 204, 204, 204 );
	padding: 7px 15px;
	margin-top: -20px;
	border-right: 2px solid rgb( 150, 150, 150 );
	border-top: 2px solid rgb( 209, 209, 209 );


	background-color: rgb( 243, 243, 243 );
	border-right: 2px solid rgb( 190, 190, 190 );
	border-top: 2px solid rgb( 209, 209, 209 );
}

.left_nav_href p:hover
{
	background-color: rgb( 150, 150, 150 );
	border-right: 2px solid rgb( 90, 90, 90 );
	padding: 7px 15px;

	background-color: rgb( 234, 234, 234 );
	border-right: 2px solid rgb( 123, 123, 123 );
}

.maker
{
	font-size: 16px !important;
}

.maker p
{
	background-color: rgb( 240, 240, 240 ) !important;		
}

.maker .left_nav_href
{
	color: rgb( 150, 150, 150 );
	font-weight: 700 !important;
}

.maker .left_nav_href:hover
{
	color: rgb( 123, 123, 123 );
}

#nav_a_users
{
	margin-left: 14%;			
}








#FOR_PROGRESS{}






.progress_center
{
	padding-left: 35.9%;
}

.progress_center span
{
	font-size: 10.9px;
}

.progress_center .progress_div
{
	width: 400px;
	max-width: 2100px !important;
}

.progress_center .progress
{
	height: 14px;
}

.progress_center .progress span
{
	line-height: 14px;
}

.progress_center .behind_progress
{
	height: 14px;
}


.progress_div
{
	display: flex;
	margin: 5px 0px;
	max-width: 1400px;
}

.progress_div b
{
	padding-top: 5px;
	margin-right: 10px;
}

.progress_div span
{
	padding-top: 5px;
	margin: 0px 10px;
}

.progress_div a
{
	text-decoration: none;
	margin-top: 0px;
	padding: 5px 10px;
	background-color: rgb( 204, 204, 204 );
	border-radius: 10px;
	margin-left: 10px;
}

.progress
{
	height: 20px;
	background-color: rgb( 234, 234, 234 );
	border-radius: 5px;
	text-align: center;
}

.progress span
{
	vertical-align: middle;
}

.behind_progress
{
	height: 20px;
	padding: 4px;
	border-radius: 5px;
	background-color: rgb( 165, 165, 165 );
	width: 50%;
	font-size: 17px;
	display: flex;
}

.behind_progress span
{
	vertical-align: middle;
}

.parts 
{
	border: 3px solid rgb( 204, 204, 204 );
	padding: 4px 15px 10px 15px;
	background-color: rgb( 234, 234, 234 );
	border-radius: 10px;
}



.add_part_href
{
	text-decoration: none;

	display: inline-block !important;

	padding: 0px 7px;
	background-color: rgb( 204, 204, 204 );
	border-radius: 10px;
}

.add_part_href:hover
{
	text-decoration: none;
	padding: 0px 7px;
	background-color: rgb( 204, 204, 204 );
	border-radius: 10px;
}








#MEDIA_QUERIES{}








@media only screen and ( min-width: 1400px )
{
	.progress_center
	{
		padding-left: 20%;
	}

	.progress_center span
	{
		font-size: 21px;
	}

	.progress_center .progress
	{
		height: 21px;
	}

	.progress_center .progress span
	{
		line-height: 21px;
	}

	.progress_center .behind_progress
	{
		height: 21px;
	}


	.progress_center .progress_div
	{
		width: 150%;
	}

	#nav_a_users
	{
		margin-left: 210px;
	}	
}


@media only screen and ( max-height: 509px )
{
	.maker
	{
		display: none;
	}
}

@media only screen and ( max-height: 590px )
{
	#left_nav_sign_out
	{
		display: none;
	}
}


@media only screen and ( max-width: 1000px )
{
	tr
	{
		font-size: 14px;
	}
}

@media only screen and ( max-width: 900px )
{

	html
	{
		padding: 0px;
	}

	a
	{
		font-size: 14px;
	}


	nav form { display: none; }


	.table_p a, .table_p
	{
		font-size: 10.9px !important;
	}

	.order a, .order
	{
		font-size: 10.9px !important;
	}


	.company
	{
		font-size: 10px;
		right: 90px !important;
		margin-top: 2px;
		left: initial;
		border-radius: 90px;
	}

	#nav_sign_out
	{
		font-size: 15px !important;
		margin-top: 0px;
	}

	#left_nav
	{
		display: none;
	}

	nav
	{
		font-size: 15px !important;
	}

	tr, tr a
	{
		font-size: 0.9em;
	}
}

@media only screen and ( max-width: 1290px )
{
	#th_parts, #td_parts
	{
		display: none;
	}


	#th_contract_date, #td_contract_date
	{
		display: none;
	}	

	#td_delete_contract, #td_delete_contract_span
	{
		display: none;	
	}

	#contract_table_options
	{
		min-width: 10px;
		width: 90px !important;
	}

	#user_td_options
	{
		max-width: 210px;
		width: 179px !important;		
	}

	#td_address
	{
		display: none;
	}

	#td_completed
	{
		display: none;
	}

	.order a, .order
	{
		font-size: 14px;
	}

	.table_p a, .table_p
	{
		font-size: 14px !important;
	}

	.contract_completion
	{
		font-size: 10.9px;
	}

	td
	{
		font-size: inherit !important;		
		padding: 2px;
	}
}


@media only screen and ( max-width: 1150px )
{
	.company
	{
		font-size: 10px;
		right: 90px;
		margin-top: 4px;
		left: initial;
		border-radius: 90px;
	}

	nav form
	{
		right: 25% !important;
	}


	#delete_contract div
	{
		margin: 10px -10px !important;
		width: 65% !important;
	}

	#nav_a_users
	{
		margin-left: 10px;			
	}

	#left_nav p
	{
		font-size: 10.9px;
		padding: 9px;
	}

	.left_nav_border_href p
	{
		font-size: 14px !important;	
	}

	.left_nav_href p 
	{
		padding: 5px 5px 5px 9px !important;		
	}

	.behind_progress 
	{
		width: 30%;
	}

	.behind_progress span
	{
		display: initial !important;
	}

	.progress_div span
	{
		display: none;
	}

	.progress_div, .progress_div span
	{
		font-size: 14px !important;
	}



	.progress_center
	{
		padding-left: 40%;
	}

	.progress_center .progress_div
	{
		width: 107%;
	}

}



@media only screen and ( max-width: 570px )
{
	.company
	{
		margin-top: 27px !important;
		right: 34% !important;
		border: 1px solid rgb( 204, 204, 204 );
	}

	.signed_in_user
	{
		left: 15px !important;
	}

	nav a
	{
		font-size: 23px !important;
	}

	#nav_sign_out
	{
		font-size: 15px !important;
		margin-top: 3px;
	}

	html 
	{
		width: 200%;
	}

	#th_contract_date, #td_contract_date
	{
		display: initial;
	}	

	#view_part_tasks
	{
		left: 10px !important;
		display: flex;
		color: rgb( 234, 234, 234 ) !important;
	}

	#view_part_tasks a
	{
	}

	tr, tr a
	{
		font-size: 14px;
	}
}