<title> Add Contact </title>

</head>	<body>


	<h2> Add Contact </h2>
	<p> to: <script> ech( data.firstname + ' ' + data.lastname ); </script> </p>

	<form>

		<input type="text" name="contact" placeholder="Contact to add">  </input>


		<input type="submit"></input>

	</form>




	<script> ech( "<p> <a href=\"/index.js?path=user_controller/view/" + data.id + "\"> Return to " + data.firstname + ' ' + data.lastname + "</a> </p>" ); </script>


	<p> <a href="/index.js?path=user_controller/index"> Return to Users </a> </p>

	</body>

</html>
